[mysqld]
bind-address = 127.0.0.1
innodb_buffer_pool_size = 64M
innodb_log_buffer_size = 8M
max_connections = 20
key_buffer_size = 8M
aria_pagecache_buffer_size = 16M
table_open_cache = 256
performance_schema = OFF
